<ifModule mod_headers.c>
  Header set Cache-Control "public, max-age=31536000, immutable"
  Header unset Expires
</ifModule>
<ifModule mod_headers.c>
    Header unset X-XSS-Protection
  </ifModule>
  <ifModule mod_headers.c>
    Header unset X-Frame-Options
    Header set Content-Security-Policy "frame-ancestors 'self'"
  </ifModule>
  